{
	auto_https disable_redirects
}

https://grafana.home.arpa {
	bind 127.0.0.1
	tls internal
	reverse_proxy 127.0.0.1:3000
}

https://pihole.home.arpa {
	bind 127.0.0.1
	tls internal

	@root path /
	redir @root /admin/login 302

	reverse_proxy 192.168.50.253:8080
}
