[Unit]
Description=Import ASUS Traffic Analyzer every 10 minutes
[Timer]
OnStartupSec=2min
OnUnitActiveSec=10min
RandomizedDelaySec=30s
AccuracySec=30s
Unit=asus-traffic-importer.service
[Install]
WantedBy=timers.target
